

button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);
	padding: 0.5rem 2rem;	
	border: 1px solid var(--color-foreground);
	border-radius: var(--main__border-radius);
	width: var(--main__button-width);
	height: var(--main__button-height);
}

.button--hovered {
	background: var(--color-secondary);
}

.button--active {
	background: var(--color-tercary);
}

button:hover {
	background: var(--color-secondary);
}

button:active {
	background: var(--color-tercary);
}
